        <small *ngIf= "status == 'error'" class="alert-danger invalid-feedback d-block">
                    Registro incorrecto, intenta nuevamente 
        </small>
        <form #newForm="ngForm" (ngSubmit)="onSubmit(newForm)">
            <div class="form-group">
                <label for="name"></label>
                <input type="name" name="name"  placeholder="Nombre de humano" class="form-control" #name="ngModel" [(ngModel)]="adn_model.name" required >
                <small *ngIf= "name.touched" class="invalid-feedback d-block">
                        Se requiere el nombre
                </small>
            </div>
            <br><br><br>
            <input type="submit" value="Crear humano" class="btn btn-primary" [disabled]="newForm.invalid" />
        </form>