.background-white{
    background-color: #fff;
    border-radius: 5px;
}
.container-right{
    margin-left: auto;
    
}
.custom-padding{
    /*
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top:50px;*/
    padding:50px;
}
.login-button{
    margin-left: 150px;
    width: 150px;
    height: 40px;
    position: fixed;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #f7a72c;
    color:#000;
}